<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="../css/MyPage.css">
</head>
<body>
    <div class="wrapper">
         <div class="nav-container">
            <div class="nav">
                <div class="nav-item">
                    <a href="#" th:href="@{/mainPage}">
                        <img src="../img/home.png" alt="Home" class="nav-icon" style="background: #00BA8D;">
                        <p class="nav-text">메인홈</p>
                    </a>
                </div>
                <div class="nav-item">
                    <a  th:href="@{/popularPosts}">
                        <img src="../img/dvr.png" alt="DVR" class="nav-icon" style="background: rgb(190, 190, 190);">
                        <p class="nav-text">게시판</p>
                    </a>
                </div>
                <div class="nav-item">
                    <a  th:href="@{/WriteAdvise}">
                        <img src="../img/create.png" alt="Create" class="nav-icon" style="background: rgb(190, 190, 190);">
                        <p class="nav-text">글쓰기</p>
                    </a>
                </div>
                <div class="nav-item">
                    <a  th:href="@{/survey}">
                        <img src="../img/check.png" alt="Check" class="nav-icon" style="background: rgb(190, 190, 190);">
                        <p class="nav-text">자가진단</p>
                    </a>
                </div>
                <div class="nav-item">
                    <a href="#" th:href="@{/myPage}">
                        <img src="../img/person.png" alt="Person" class="nav-icon" style="background: rgb(190, 190, 190);">
                        <p class="nav-text">마이페이지</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="main-container">
            <div class="main-screen">
                <img class="back" src="../img/backimg.svg" alt="Back">
                <div class="profile">
                    <div class="profile-icon"></div>
                    <p class="profile-name">쿠로미</p>
                </div>
                <div class="mini-box">
                    <p class="my-temperature">나의 부기온도</p>
                    <p class="temperature">65℃</p>
                    <div class="temperature-bar"></div>
                </div>

                <div class="section">
                    <div class="section-header">
                        <p class="section-title">받은 조언들</p>
                        <p class="section-edit">편집</p>
                        <p class="section-more">더보기</p>
                    </div>
                    <div class="checkbox-list">
                        <label class="checkbox-item">
                            <input type="checkbox">
                            <span class="checkbox-custom"></span>
                            <span class="checkbox-label">상대방의 말에 귀를 기울여보세요.</span>
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox">
                            <span class="checkbox-custom"></span>
                            <span class="checkbox-label">이 상황에서는 양보하는 것이 옳은 행동입니다.</span>
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox">
                            <span class="checkbox-custom"></span>
                            <span class="checkbox-label">당신의 잘못은 아니지만, 조심해야 할 것 같습니다.</span>
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox">
                            <span class="checkbox-custom"></span>
                            <span class="checkbox-label">에어컨을 끄고 나가셔야합니다.</span>
                        </label>
                    </div>
                </div>
                <div class="section">
                    <div class="section-header">
                        <p class="section-title">일일퀘스트</p>
                        <p class="section-more">더보기</p>
                    </div>
                    <p class="quest-description">퀘스트를 수행하고 부기 온도를 올려보세요!</p>
                    <div class="checkbox-list">
                        <label class="checkbox-item">
                            <input type="checkbox">
                            <span class="checkbox-custom"></span>
                            <span class="checkbox-label">상호존중 챌린지! 참여하고 따뜻한 부기 온도 받으세요!</span>
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox">
                            <span class="checkbox-custom"></span>
                            <span class="checkbox-label">게시글 5개 이상 추천하기!</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
