<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 열람</title>
    <link rel="stylesheet" href="OpenPostPage2.css">
</head>
<body>
    <div class="wrapper">
        <div class="nav-container">
            <div class="nav">
                <div class="nav-item">
                    <img src="home.png" alt="Home" class="nav-icon" style="background: #00BA8D;">
                    <p class="nav-text">메인홈</p>
                </div>
                <div class="nav-item">
                    <img src="dvr.png" alt="DVR" class="nav-icon" style="background: rgb(190, 190, 190);">
                    <p class="nav-text">게시판</p>
                </div>
                <div class="nav-item">
                    <img src="create.png" alt="Create" class="nav-icon" style="background: rgb(190, 190, 190);">
                    <p class="nav-text">글쓰기</p>
                </div>
                <div class="nav-item">
                    <img src="check.png" alt="Check" class="nav-icon" style="background: rgb(190, 190, 190);">
                    <p class="nav-text">자가진단</p>
                </div>
                <div class="nav-item">
                    <img src="person.png" alt="Person" class="nav-icon" style="background: rgb(190, 190, 190);">
                    <p class="nav-text">마이페이지</p>
                </div>
            </div>
        </div>
        <div class="main-container">
            <div class="main-screen">
                <img class="back" src="backimg.svg">
                <div class="profile">
                    <div class="profile-pic"></div>
                    <p class="username">사용자1</p>
                </div>
                <div class="divider"></div>
                <div class="post-container">
                    <div class="post-content">
                        <p class="post-title">직장생활 꿀팁 있을까요?</p>
                    <div class="divider2"></div>
                        <p class="post-body">안녕하세요. 제가 입사 준비를 하고 있습니다. 
                        제가 아직 제대로 된 사회생활을 해본 적이 없어서 걱정됩니다.
                        혹시 직장에 들어가서 챙길 수 있는 꿀팁이 있을까요?</p>
                    </div>
                    <div class="divider3"></div>
                    <div class="post-footer">
                        <div class="footer-item">
                            <img src="timer.png" alt="Time" class="footer-icon">
                            <p class="footer-text">1일전</p>
                        </div>
                        <div class="footer-item">
                            <img src="heart.png" alt="Likes" class="footer-icon">
                            <p class="footer-text">128</p>
                        </div>
                        <div class="footer-item">
                            <img src="answer.png" alt="Comments" class="footer-icon">
                            <p class="footer-text">45</p>
                        </div>
                    </div>
                </div>
                <div class="vote-container">
                    <div class="vote-item good">
                        <img src="good.png" alt="Good" class="vote-icon">
                        <p class="vote-text">Good</p>
                        <p class="vote-count">148</p>
                    </div>
                    <div class="vote-item bad">
                        <img src="bad.png" alt="Bad" class="vote-icon2">
                        <p class="vote-text">Bad</p>
                        <p class="vote-count">32</p>
                    </div>
                </div>

                <div class="post-container2">
                    <div class="post-title2">조언하기</div>
                    <textarea class="post-content2" placeholder="작성자를 향한 비방 및 욕설은 무통보 삭제됩니다"></textarea>
                    <button class="post-btn" type="button">조언하기</button>
                </div>

            </div>
        </div>
    </div>
</body>
</html>