<!doctype html>
<html lang="ko" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/question_detail.css}">
    <title>Boogie question</title>
</head>

<body>
    <div class="container">

            <div class="main-login"></div>

            <a class="backButton" th:href="@{/popularPosts}">
                <img class="back" src="/backimg.svg">
            </a>

            <div class="userName">
                <span th:if="${question.author != null}" th:text="${question.author.loginId}"></span>
            </div>

            <div class="contentsContainer">
                <h1 th:text="${question.subject}"></h1>
                <h6 th:text="${question.content}"></h6>


                <!--좋아요 수-->
                <span class="good">♥</span>
                <span class="good" th:text="${#lists.size(question.voter)}"></span>
                <!--답변 수-->
                <span class="good"><img class="good" src="/question-answer.svg"></span>
            </div>

            <!-- 추천 버튼 -->
            <button class="goodButton">
                <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                   th:data-uri="@{|/question/vote/${question.id}|}">
                    good
                    <br>
                    <span th:text="${#lists.size(question.voter)}"></span>
                </a>
            </button>

        <!-- 비추천 버튼 -->
            <button class="goodButton" style="left:52vw;">
                <a href="javascript:void(0);" class="downvote btn btn-sm btn-outline-danger"
               th:data-uri="@{|/question/downvote/${question.id}|}">
                bad
                <br>
                <span th:text="${#lists.size(question.nonVoter)}"></span>
                </a>
            </button>



            <h3>조언하기</h3>
            <form class="answerInput" th:action="@{/answer/create/{id}(id=${question.id})}" th:object="${answerForm}" method="post">

                <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
                    <div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
                </div>

                <textarea th:field="*{content}" id="content" rows="15"></textarea>

                <button type="submit" class="login-rec" style="background: #00ba8d;">답변 등록</button>

            </form>


    </div>
</body>

<script layout:fragment="script" type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });
    const recommend_elements = document.getElementsByClassName("recommend");
    Array.from(recommend_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 추천하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });
    //비추천
    const downvote_elements = document.getElementsByClassName("downvote");
    Array.from(downvote_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 비추천하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });
</script>
</html>