<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="register.css" />

  <title>Boogie Register</title>
</head>

<body>
  <div class="container">
    <form class="form">

    <div class="main-register"></div>
    <img class="back" src="registerIMG/backimg.svg" />

    <div class="text-register">회원가입</div>
      
    <div class="input1">
    <input id="username" type="text" placeholder="이름 또는 닉네임">
    </div>
                
    <div class="input2">
    <input id="userid" type="text" placeholder="아이디">
    </div>

    <div class="input3">  
    <input id="password" type="password" placeholder="비밀번호">
    </div>

    <div class="input4">
    <input id= "password2" type="password" placeholder="비밀번호 확인">
    </div>

    <div class="button2">
    <button class="joinEnd" type="submit">회원가입 완료하기</button>
    </div>

    <div class="button1">
    <button class="overlapCheck" type="button">중복확인</button>
    </div>
        
    
    </form>
  </div>
</body>

</html>