<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자가진단 결과</title>
    <link rel="stylesheet" href="../css/SelfDiagnosisResult2.css">
</head>
<body>
    <div class="wrapper">
         <div class="nav-container">
            <div class="nav">
                <div class="nav-item">
                    <a href="#" th:href="@{/mainPage}">
                        <img src="../img/home.png" alt="Home" class="nav-icon" style="background: #00BA8D;">
                        <p class="nav-text">메인홈</p>
                    </a>
                </div>
                <div class="nav-item">
                    <a  th:href="@{/popularPosts}">
                        <img src="../img/dvr.png" alt="DVR" class="nav-icon" style="background: rgb(190, 190, 190);">
                        <p class="nav-text">게시판</p>
                    </a>
                </div>
                <div class="nav-item">
                    <a  th:href="@{/WriteAdvise}">
                        <img src="../img/create.png" alt="Create" class="nav-icon" style="background: rgb(190, 190, 190);">
                        <p class="nav-text">글쓰기</p>
                    </a>
                </div>
                <div class="nav-item">
                    <a  th:href="@{/survey}">
                        <img src="../img/check.png" alt="Check" class="nav-icon" style="background: rgb(190, 190, 190);">
                        <p class="nav-text">자가진단</p>
                    </a>
                </div>
                <div class="nav-item">
                    <a href="#" th:href="@{/myPage}">
                        <img src="../img/person.png" alt="Person" class="nav-icon" style="background: rgb(190, 190, 190);">
                        <p class="nav-text">마이페이지</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="main-container">
            <div class="main-screen">
                <a href="#" th:href="@{/mainPage}">
                    <img class="back" src="../img/backimg.svg" alt="Back">
                </a>
                <div class="result-content">
                    <img src="../img/Vector2.png" alt="Diagnosis Result" class="result-icon">
                    <p class="result-title">정상범주에 속합니다</p>
                    <p class="result-description">자가진단이므로, 정확한 진단 필요시 <br>
                    전문가와 상담하시길 바랍니다.</p>
                </div>
                <div class="nearby-center">
                    <div class="nearby-title">가까운 센터/병원</div>
                    <div class="center-info">
                        <img src="../img/mental_health_center.png" alt="Mental Health Center" class="center-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
