<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자가진단하기</title>
    <link rel="stylesheet" href="../css/SelfDiagnosis.css">
</head>
<body>
    <div class="wrapper">
         <div class="nav-container">
            <div class="nav">
                <div class="nav-item">
                    <a href="#" th:href="@{/mainPage}">
                        <img src="../img/home.png" alt="Home" class="nav-icon" style="background: #00BA8D;">
                        <p class="nav-text">메인홈</p>
                    </a>
                </div>
                <div class="nav-item">
                    <a  th:href="@{/popularPosts}">
                        <img src="../img/dvr.png" alt="DVR" class="nav-icon" style="background: rgb(190, 190, 190);">
                        <p class="nav-text">게시판</p>
                    </a>
                </div>
                <div class="nav-item">
                    <a  th:href="@{/WriteAdvise}">
                        <img src="../img/create.png" alt="Create" class="nav-icon" style="background: rgb(190, 190, 190);">
                        <p class="nav-text">글쓰기</p>
                    </a>
                </div>
                <div class="nav-item">
                    <a  th:href="@{/survey}">
                        <img src="../img/check.png" alt="Check" class="nav-icon" style="background: rgb(190, 190, 190);">
                        <p class="nav-text">자가진단</p>
                    </a>
                </div>
                <div class="nav-item">
                    <a href="#" th:href="@{/myPage}">
                        <img src="../img/person.png" alt="Person" class="nav-icon" style="background: rgb(190, 190, 190);">
                        <p class="nav-text">마이페이지</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="main-container">
            <div class="main-screen">
                <a href="#" th:href="@{/mainPage}">
                    <img class="back" src="../img/backimg.svg" alt="Back">
                </a>
                <p class="page-title">경계성 지능장애 자가진단</p>
                <p class="page-title2">해당되는 연령대를 선택해주세요</p>
                <div class="options">
                    <a th:href="@{/survey/Infant}" class="option option-toddlers">
                        <p class="option-title">영유아기</p>
                    </a>
                    <a th:href="@{/survey/child}" class="option option-schoolage">
                        <p class="option-title">아동/학령기</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
