<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자가진단 결과</title>
    <link rel="stylesheet" href="../css/SelfDiagnosisResult.css">
</head>
<body>
    <div class="wrapper">
        <div class="nav-container">
            <div class="nav">
                <div class="nav-item">
                    <img src="home.png" alt="Home" class="nav-icon" style="background: #00BA8D;">
                    <p class="nav-text">메인홈</p>
                </div>
                <div class="nav-item">
                    <img src="dvr.png" alt="DVR" class="nav-icon" style="background: rgb(190, 190, 190);">
                    <p class="nav-text">게시판</p>
                </div>
                <div class="nav-item">
                    <img src="create.png" alt="Create" class="nav-icon" style="background: rgb(190, 190, 190);">
                    <p class="nav-text">글쓰기</p>
                </div>
                <div class="nav-item">
                    <img src="check.png" alt="Check" class="nav-icon" style="background: rgb(190, 190, 190);">
                    <p class="nav-text">자가진단</p>
                </div>
                <div class="nav-item">
                    <img src="person.png" alt="Person" class="nav-icon" style="background: rgb(190, 190, 190);">
                    <p class="nav-text">마이페이지</p>
                </div>
            </div>
        </div>
        <div class="main-container">
            <div class="main-screen">
                <img class="back" src="backimg.svg" alt="Back">
                <div class="result-content">
                    <img src="Vector.png" alt="Diagnosis Result" class="result-icon">
                    <p class="result-title">경계선 지능장애가 의심됩니다</p>
                    <p class="result-description">자가진단이므로, 정확한 진단 필요시 <br>
                    전문가와 상담하시길 바랍니다.</p>
                </div>
                <div class="nearby-center">
                    <div class="nearby-title">가까운 센터/병원</div>
                    <div class="center-info">
                        <img src="mental_health_center.png" alt="Mental Health Center" class="center-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
