<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글쓰기</title>
    <link rel="stylesheet" href="WritingPage.css">
</head>
<body>
    <div class="wrapper">
        <div class="nav-container">
            <div class="nav">
                <div class="nav-item">
                    <img src="home.png" alt="Home" class="nav-icon" style="background: #00BA8D;">
                    <p class="nav-text">메인홈</p>
                </div>
                <div class="nav-item">
                    <img src="dvr.png" alt="DVR" class="nav-icon" style="background: rgb(190, 190, 190);">
                    <p class="nav-text">게시판</p>
                </div>
                <div class="nav-item">
                    <img src="create.png" alt="Create" class="nav-icon" style="background: rgb(190, 190, 190);">
                    <p class="nav-text">글쓰기</p>
                </div>
                <div class="nav-item">
                    <img src="check.png" alt="Check" class="nav-icon" style="background: rgb(190, 190, 190);">
                    <p class="nav-text">자가진단</p>
                </div>
                <div class="nav-item">
                    <img src="person.png" alt="Person" class="nav-icon" style="background: rgb(190, 190, 190);">
                    <p class="nav-text">마이페이지</p>
                </div>
            </div>
        </div>
        <div class="main-container">
            <div class="main-screen">
                <img class="back" src="backimg.svg">
                <div class="profile">
                    <div class="profile-pic"></div>
                    <p class="username">사용자1</p>
                </div>
                <div class="divider"></div>
                <div class="post-container">
                    <textarea class="post-title" placeholder="제목을 입력하세요"></textarea>
                    <div class="divider2"></div>
                    <textarea class="post-content" placeholder="내용을 입력하세요"></textarea>
                    <div class="divider3"></div>
                    <div class="post-footer">
                        <div class="footer-item">
                            <img src="timer.png" alt="Time" class="footer-icon">
                            <p class="footer-text">1일전</p>
                        </div>
                        <div class="footer-item">
                            <img src="heart.png" alt="Likes" class="footer-icon">
                            <p class="footer-text">128</p>
                        </div>
                        <div class="footer-item">
                            <img src="answer.png" alt="Comments" class="footer-icon">
                            <p class="footer-text">45</p>
                        </div>
                    </div>
                </div>
                <button class="post-btn" type="button">글쓰기</button>
            </div>
        </div>
    </div>
</body>
</html>
