body {
    margin: 0;
    background-color: #d0d0d0;
    font-family: 'Pretendard', sans-serif;
    background: #d0d0d0;
    position: relative;
    display: flex;
}




.nav-container {
    width: 150px;
    height: 485px;
    position: fixed;
    top: 50%;
    left: 285px;
    transform: translateY(-50%);
    gap: 0px;
    background: #FFFFFF;
    border: 2px solid #F5F5F5;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.nav {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-icon {
    width: 57px;
    height: 57px;
    border-radius: 6.61px;
    cursor: pointer;
}

.nav-text {
    font-size: 12px;
    color: #B1B1B1;
    text-align: center;
}





.main-container {
    width: 1920px;
    height: 1723px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    width: 38.84vw;
    background-color: #ffffff;
    position: relative;
}

.box1 {
    height: 556px;
}

.logo {
    width: 212.86px;
    height: 72px;
    position: absolute;
    top: 50px;
    left: 26px;
}

.greeting {
    position: absolute;
    top: 125px;
    left: 30px;
    font-size: 23px;
    font-weight: bold;
    line-height: 35.8px;
    letter-spacing: -0.08em;
    text-align: left;
}

.mini-box {
    width: 500px;
    height: 100px;
    position: absolute;
    top: 250px;
    left: 15px;
    border-radius: 16.83px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.my-temperature {
    font-size: 20px;
    font-weight:500;
    top : 10px;
    left : 40px;
    position:absolute;
    letter-spacing: -0.035em;
    text-align: left;
}

.temperature {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.035em;
    text-align: left;
    position: absolute;
    top: 10px;
    right: 40px;
}

.temperature-bar {
    width: 320.39px;
    height: 26.55px;
    background: linear-gradient(90deg, #8FFF00 0%, #00BA8D 73.48%);
    border-radius: 116.83px;
    position: absolute;
    top: 80px;
    left: 40px;
    right: 40px;
}

.post-btn {
    width: 540px;
    height: 61px;
    position: absolute;
    top: 425px;
    left: 15px;
    border-radius: 4px;
    background-color: #F6F6F6;
    border: none;
    font-size: 20px;
    color:#B1B1B1;
    cursor: pointer;
    transition: all 0.3 ease;
}

button.post-btn:hover {
    box-shadow: inset 4px 4px 8px #bebebe, inset -4px -4px 8px #bebebe;
}

.gray-space {
    width: 669px;
    height: 10px;
    background-color: #d0d0d0;
}

.box2 {
    height: 221px;
}

.hoxi {
    font-size: 20px;
    font-weight:600;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -0.035em;
    text-align: left;
    top: 20px;
    left: 35px;
    position:absolute;
}

.self-diagnosis-btn {
    width: 177px;
    height: 47px;
    border-radius: 50.6px;
    background-color: #00BA8D;
    border: none;
    font-size: 15px;
    color: #ffffff;
    position: absolute;
    top: 115px;
    left: 35px;
    letter-spacing: -0.04em;
    cursor: pointer;
    transition: all 0.3 ease;
    display: flex; /* 추가 */
    align-items: center; /* 추가 */
    justify-content: center; /* 추가 */
}


.thinking-woman {
    width: 269px;
    height: 221px;
    position: absolute;
    top: 0;
    right: 0;
}

.box3 {
    height: 381px;
}

.hot-post {
    font-size: 25px;
    font-weight: 600;
    line-height: 29.83px;
    letter-spacing: -0.035em;
    text-align: left;
    top: 10px;
    left: 40px;
    position: absolute;
}

.sub-text1 {
    font-size: 22px;
    font-weight: 500;
    line-height: 26.25px;
    letter-spacing: -0.035em;
    text-align: left;
    position: absolute;
    top: 60px;
    left: 40px;
    color: #c4c4c4
}

.post-list {
    position: absolute;
    top: 120px;
    left: 20px;
}

.post-item {
    display: flex;
    align-items: center;
    margin-inline-start: 85px;
}

.rank {
    width: 27.86px;
    height: 28px;
    border-radius: 5.57px;
    background-color: #00BA8D;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-weight: 800;
    color: #ffffff;
    margin-right: 20px;
    position:absolute;
    left: 35px;
}

.post-title {
    font-size: 20px;
    font-weight:500px;
    line-height: 29.83px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -0.035em;
    text-align: left;
    cursor: pointer;
    transition: all 0.3 ease;
}

.more-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 15px;
    font-weight: 500;
    line-height: 23.87px;
    letter-spacing: -0.035em;
    text-align: left;
    color: #c4c4c4;
    cursor: pointer;
    transition: all 0.3 ease;
}

.box4 {
    height: 520px;
}

.sub-title {
    font-size: 25px;
    font-weight: 600;
    line-height: 29.83px;
    letter-spacing: -0.035em;
    text-align: left;
    position:absolute;
    top: 10px;
    left: 40px;
}

.sub-text2 {
    font-size: 22px;
    font-weight: 500;
    line-height: 26.25px;
    letter-spacing: -0.09em;
    text-align: left;
    position: absolute;
    top: 60px;
    left: 40px;
    color: #c4c4c4
}

.hospital1 {
    display: flex;
    align-items: center;
    position:relative;
    top: 200px;
    cursor: pointer;
    transition: all 0.3 ease;
    display: flex; /* 추가 */
    align-items: center; /* 추가 */
    justify-content: center; /* 추가 */
}

.hospital-img {
    width: 350px;
    height: 250px;
    border: 0.72px solid #C4C4C4;
}

.more-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 15px;
    font-weight: 500;
    line-height: 23.87px;
    letter-spacing: -0.035em;
    text-align: left;
    color: #c4c4c4;
}
